.avatar {
    width: 200px;
    
}
.bg{
    background-color: #1abc9c;
    width: 100%;
}
.line {
    width: 90px;
    height: 4px;
    background-color: white;
}
.goldstar {
    color: gold;
    font-size: 20px;
    padding-inline: 20px;
}